.message.button.url {
    width: 16px;
    height: 16px; 
    position: absolute; 
    top: 10px; 
    right: 38px; 
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.message.button.close {
    width: 16px;
    height: 16px; 
    position: absolute; 
    top: 9px; 
    right: 16px; 
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.message.window {
    width: 720px;
    height: auto;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    text-align: center;
    position: absolute; 
    top: 30px;
    z-index: 10000; 
    box-shadow: 3px 3px 5px #000;
   
}

p.message {
    -webkit-user-select: text;
}